<div class="splash-page">
  <h1 class="logo">SmartSpendr</h2>

  <div>
    <%= button_to 'LOG IN', new_user_session_path, class: 'splash-link'%>
    <%= button_to 'SIGN UP', new_user_registration_path, class: 'splash-link', method: :get %>
  </div>
</div>