/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  /* width: 40%; */
  margin: 0 auto;
  border: 1px solid black;
  padding:  0;
  height: 97vh;
  overflow-y: hidden;
 }

 .p-blue {
  background-color: #3778c2;
  color: #fff;
  border: 0;
 }

 .p-green {
  background-color: #5fb523;
  color: #fff;
 }

 .p-grey {
  background-color: #434b54;
  color: #fff;
 }

 .splash-page {
  /* justify-content: space-evenly; */
  justify-content: center;
  margin: auto;
 }

 .logo {
  /* margin: auto; */
  text-align: center;
  margin: 50% 0;
 }

 .splash-link {
 width: 100%;
 padding: 3%;
 margin: 1% auto;
 border: 0;
 border-radius: 3px;
 }

 .splash-link:hover {
    background-color: #3778c2;
    color: #fff;

 }

 nav{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
 }

 .form-fields {

  margin: 2%;
 }

 .form-field {
  width: 95%;
  margin: 1% auto;
  padding: 2%;
 }
